/*==========  Desktop First Method  ==========*/

/* Large Devices, Wide Screens */
@media only screen and (max-width : 1200px)
{
	/**/

	html
	{
		font-size: 15px;
	}

	.offer-card
	{
		margin-bottom: 30px;
	}

	.offers-tv
	{
		.col-sm-4
		{
			padding-left: 10px;
			padding-right: 10px;
		}
	}

}


/* Medium Devices, Desktops */
@media only screen and (max-width : 992px)
{
	html
	{
		font-size: 14px;
	}
	/**/
	.menu-button
	{
		font-size: rem(13px);
		&:nth-of-type(3)
		{
			margin-right: 30px/700px * 100%;
		}
	}

	.page-header__phones
	{
		text-align: left;
		font-size: rem(14px);
		span
		{
			margin-right: 27px/220px * 100%;

			&:last-of-type
			{
				margin-right: 0;
			}
		}
	}

	.nav-menu
	{
		li
		{
			a
			{
				font-size: rem(16px);
			}
		}
	}

	.main-poster
	{
		margin-top: 20px;

		span
		{
			border-bottom: none;
		}
	}


	.film-card
	{
		margin-bottom: 30px;
	}

	.films__bottom
	{
		margin-top: 0;
	}

	.news-card
	{
		margin-bottom: 30px;
	}

	.news__bottom
	{
		margin-top: 0;
	}

	.footer-contacts__social
	{
		margin-top: 20px;
	}

	.footer-nav
	{
		margin-bottom: 30px;
	}



}


/* Small Devices, Tablets */
@media only screen and (max-width : 768px)
{

	html
	{
		font-size: 13px;
	}

	.nav-menu
	{
		li
		{
			a
			{
				font-size: 0.7rem;
				line-height: 0.8rem;
			}
		}
	}

	.page-header__phones
	{
		text-align: right;
		font-size: 1rem;

	}

	.menu-button
	{
		margin-right: 15px/340px * 100%;
		margin-top: 20px;
	}

	.tabs__item
	{
		margin-bottom: 20px;
	}


	
	/*Disable Animation on Mobile Devices*/
	.animated
	{
		/*CSS transitions*/
		-o-transition-property: none !important;
		-moz-transition-property: none !important;
		-ms-transition-property: none !important;
		-webkit-transition-property: none !important;
		transition-property: none !important;
		/*CSS transforms*/
		-o-transform: none !important;
		-moz-transform: none !important;
		-ms-transform: none !important;
		-webkit-transform: none !important;
		transform: none !important;
		/*CSS animations*/
		-webkit-animation: none !important;
		-moz-animation: none !important;
		-o-animation: none !important;
		-ms-animation: none !important;
		animation: none !important;
	}

}

/* Extra Small Devices, Phones */
@media only screen and (max-width : 480px)
{
	/**/
	.page-header__phones
	{
		span
		{
			margin-right: 10px;
		}

	}



}


/* Custom, iPhone Retina */
@media only screen and (max-width : 320px)
{
	/**/
}


/*==========  Mobile First Method  ==========*/

/* Custom, iPhone Retina */
@media only screen and (min-width : 320px)
{
	/**/
}


/* Extra Small Devices, Phones */
@media only screen and (min-width : 480px)
{
	/**/
}


/* Small Devices, Tablets */
@media only screen and (min-width : 768px)
{
	/**/
}


/* Medium Devices, Desktops */
@media only screen and (min-width : 992px)
{
	/**/
}


/* Large Devices, Wide Screens */
@media only screen and (min-width : 1200px)
{
	/**/
	.container
	{
		max-width: 1220px;
	}

	.nav-menu
	{
		li
		{
			
		}
	}

	.tabs__item span
	{
		font-size: rem(16px);
	}


}

