$light-neue: "HelveticaNeueLight",sans-serif;
$bold-neue: "HelveticaNeueBold",sans-serif;
$regular-neue: "HelveticaNeueRegular",sans-serif;

$regular: "HelveticaRegular",sans-serif;
$light: "HelveticaLight",sans-serif;

$button-color: #0f9bf5;
$color-link: #0f9bf5;

$footer-background: #2e2e2e;