ul, li, h1, h2, h3, h4, h5, h6, p {
  margin: 0;
  padding: 0; }

ul {
  list-style: none; }

a {
  color: black; }
  a:hover {
    text-decoration: none;
    color: black; }

.page-footer {
  padding-top: 48px;
  padding-bottom: 40px;
  background-color: #2e2e2e; }
  .page-footer__top {
    padding-bottom: 34px;
    border-bottom: 2px solid white; }
  .page-footer__bottom {
    padding-bottom: 34px;
    border-bottom: 2px solid white; }
  .page-footer__copyright {
    text-align: center;
    color: #bbb;
    font-size: 0.875rem;
    font-family: HelveticaNeueLight, sans-serif;
    padding-top: 34px; }

.footer-nav {
  padding-left: 20px; }
  .footer-nav__title {
    color: white;
    font-weight: normal;
    font-family: HelveticaNeueRegular, sans-serif;
    font-size: 1.4375rem;
    position: relative; }
    .footer-nav__title i {
      position: absolute;
      width: 21px;
      height: 20px;
      top: 7px;
      background-position: center;
      background-repeat: no-repeat;
      left: -26px; }

.wifi--white {
  background-image: url(img/wifi--white.png);
  top: 4px !important; }

.iptv--white {
  background-image: url(img/iptv--white.png); }

.telephone--white {
  background-image: url(img/telephone--white.png); }

.payment--white {
  background-image: url(img/payment--white.png); }

.b-footer-link {
  font-family: HelveticaNeueLight, sans-serif;
  font-size: 1.125rem;
  line-height: 1.625rem;
  color: #0f9bf5; }

.footer-contacts {
  color: white; }
  .footer-contacts__title {
    font-size: 1.5rem;
    font-weight: normal;
    line-height: 4.5rem;
    font-family: HelveticaNeueRegular, sans-serif; }
  .footer-contacts__phones {
    margin-bottom: 10px; }
    .footer-contacts__phones span {
      margin-right: 30px;
      font-family: HelveticaNeueLight, sans-serif;
      font-size: 1.125rem; }
  .footer-contacts__address {
    color: #bbb;
    font-size: 0.875rem;
    line-height: 1.125rem;
    font-family: HelveticaNeueLight, sans-serif; }
  .footer-contacts__social {
    margin-top: 10px;
    font-size: 0.875rem;
    line-height: 1.125rem;
    font-family: HelveticaNeueLight, sans-serif; }

.social-icon {
  width: 35px;
  height: 35px;
  background-image: url(img/social-sprites.png);
  background-repeat: no-repeat;
  display: inline-block;
  margin-left: 10px;
  vertical-align: top;
  margin-top: -18px; }
  .social-icon:nth-of-type(1) {
    margin-left: 60px; }

.vk {
  background-position: 0 0; }

.facebook {
  background-position: -47px 0; }

.twitter {
  background-position: -94px 0; }

.geo {
  float: left;
  width: 16px;
  height: 30px;
  background-image: url(img/geo.png);
  background-repeat: no-repeat;
  vertical-align: middle;
  margin-right: 10px; }

.footer-help {
  padding-left: 20px; }
  .footer-help__title {
    font-family: HelveticaNeueRegular, sans-serif;
    font-weight: nor;
    font-size: 1.5rem;
    line-height: 4.5rem;
    color: white;
    position: relative; }
    .footer-help__title i {
      position: absolute;
      left: -25px;
      top: 20px; }

.help--white {
  width: 18px;
  height: 22px;
  background-image: url(img/help--white.png); }

/*==========  Desktop First Method  ==========*/
/* Large Devices, Wide Screens */
@media only screen and (max-width: 1200px) {
  /**/
  html {
    font-size: 15px; }
  .offer-card {
    margin-bottom: 30px; }
  .offers-tv .col-sm-4 {
    padding-left: 10px;
    padding-right: 10px; }
  .footer-contacts__address {
    font-size: 0.8125rem; } }

/* Medium Devices, Desktops */
@media only screen and (max-width: 992px) {
  html {
    font-size: 14px; }
  /**/
  .menu-button {
    font-size: 0.8125rem; }
    .menu-button:nth-of-type(3) {
      margin-right: 4.28571%; }
  .page-header__phones {
    text-align: left;
    font-size: 0.875rem; }
    .page-header__phones span {
      margin-right: 12.27273%; }
      .page-header__phones span:last-of-type {
        margin-right: 0; }
  .nav-menu li a {
    font-size: 1rem; }
  .main-poster {
    margin-top: 20px; }
    .main-poster span {
      border-bottom: none; }
  .film-card {
    margin-bottom: 30px; }
  .films__bottom {
    margin-top: 0; }
  .news-card {
    margin-bottom: 30px; }
  .news__bottom {
    margin-top: 0; }
  .footer-contacts__social {
    margin-top: 20px; }
  .footer-nav {
    margin-bottom: 30px; }
  .footer-contacts__address {
    font-size: 0.875rem; } }

/* Small Devices, Tablets */
@media only screen and (max-width: 768px) {
  html {
    font-size: 13px; }
  .nav-menu li a {
    font-size: 0.7rem;
    line-height: 0.8rem; }
  .page-header__phones {
    text-align: right;
    font-size: 1rem; }
  .menu-button {
    margin-right: 4.41176%;
    margin-top: 20px; }
  .tabs__item {
    margin-bottom: 20px; }
  .tarif-card {
    margin-bottom: 20px; }
  /*Disable Animation on Mobile Devices*/
  .animated {
    /*CSS transitions*/
    -webkit-transition-property: none !important;
    transition-property: none !important;
    /*CSS transforms*/
    -ms-transform: none !important;
    -webkit-transform: none !important;
    transform: none !important;
    /*CSS animations*/
    -webkit-animation: none !important;
    animation: none !important; } }

/* Extra Small Devices, Phones */
@media only screen and (max-width: 480px) {
  /**/
  .page-header__phones span {
    margin-right: 10px; }
  .films__nav-menu {
    margin-bottom: 0; }
    .films__nav-menu li {
      margin-bottom: 10px; } }

/* Custom, iPhone Retina */
/*==========  Mobile First Method  ==========*/
/* Custom, iPhone Retina */
/* Extra Small Devices, Phones */
/* Small Devices, Tablets */
/* Medium Devices, Desktops */
/* Large Devices, Wide Screens */
@media only screen and (min-width: 1200px) {
  /**/
  .container {
    max-width: 1220px; }
  .tabs__item span {
    font-size: 1rem; } }

@media only screen and (min-width: 2000px) {
  html {
    font-size: 16px; } }
